ENVATO_CLIENT_ID="your app id"
ENVATO_REDIRECT_URI="your redirect URI"
ENVATO_CLIENT_SECRET="app secret"
ZENDESK_SHARED_SECRET="zendesk secret"
ZENDESK_SUBDOMAIN="yourcompany"
SLACK_TOKEN="slack-token"
SLACK_CHANNEL="#general"
ZEL_DEBUG="false"
